* {margin: 0; padding: 0; list-style: none; box-sizing: border-box;}
a {text-decoration: none;}
img {max-width: 100%; height: auto;}

#header {border-top: 3px solid #00d344;}
#header .wrap {border-bottom: 1px solid #999;}
#header .wrap .top {margin: 0 auto; width: 1008px; overflow: hidden;}
#header .wrap .top .top_left {float: left; padding: 11px 7px;}
#header .wrap .top .top_right {float: right;}
.top_right ul li {display: inline; border-left: 1px solid #999;}
.top_right ul li a {display: inline-block; color: #999; font-weight: 700; padding: 11px 7px;} /* 위, 아래 / 좌, 우 */
.top_right ul li a span {}

.mid {
    margin: 0 auto;
    width: 1008px;
    overflow: hidden;
}

.mid .left {
    
    float: left;
}

.mid .right {
    float: right;
    margin: 10px;
}

.mid fieldset {
    overflow: hidden;
    width: 300px;
    height: 40px;
    border: none;
    margin: 10px;
    margin-top: 40px;
    background-image: url('img/bg_cmn_search.png');
}

.mid fieldset input {
    float: left;
    width: 220px;
    margin: 10px 0 0 20px;
    border: none;

}

.mid fieldset button {
    float: right;
    width: 45px;
    height: 40px;
    border: none;
    background-color: #fff;
    background-image: url('img/btn_search_bar.png');
    cursor: pointer;
}

.bottom {
    overflow: hidden;
    width: 1008px;
    margin: 0 auto;
    
}

.bottom .main_left {
    float: left;
}

.bottom .main_right {
    float: right;
}

.bottom ul {
    overflow: hidden;
}

.bottom ul li {
    float: left;
}

.bottom ul li a {
    display: inline-block;
    padding: 0 10px 20px 10px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

/* *******************section********************** */

#section {
    width: 1008px;
    margin: 0 auto;
    overflow: hidden;
}

#section .wrap{
    width: 1008px;
    margin: 0 auto;
}

#section .conts{
    overflow: hidden;
}

#section .conts .list_wrap{width: 480px; float: left;}
#section .conts .slide_wrap{width: 236px; float: left; margin-left: 4px;}
#section .conts .user_wrap{width: 280px; float: left; border: 1px; margin-left: 8px;}

#section .conts .list_wrap ul {overflow: hidden;}
#section .conts .list_wrap ul li {
    float: left;
    width: 33.3333%;
    height: 159px;
/*     border: 1px solid #777; */
    box-sizing: border-box;

    position: relative;
}

#section .conts .list_wrap ul li a {
    position: relative;
}

#section .conts .list_wrap ul li .singer {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
}

#section .conts .list_wrap ul li .hover_cont {
    position: absolute;
    left: 0;
    top: 0;
    width: 156px; 
    height: 156px; 
    background-color: rgb(0, 0, 0 , 0.7);
    color: #fff;
    text-align: center;
    opacity: 0; /* 투명도 0 */
    transition: opacity 0.25s ease-in-out; /* ~초에 걸쳐서 */
}

#section .conts .list_wrap ul li:hover > .hover_cont {
    opacity: 1;

}

#section .conts .list_wrap ul li .hover_cont a {
    margin-top: 55px;
    display: block;
    color: #fff;
    font-weight: 900;
    font-size: 12px;
}

#section .user_wrap .login_wrap {
    border: 1px solid #777;
    height: 118px;
    margin-bottom: 8px;
    padding: 0 15px;
}

#section .user_wrap .promo_wrap{
/*     border: 1px solid #777;
    height: 155px; */
}

#section .login_wrap .top{overflow: hidden; margin-top: 30px;}
#section .login_wrap .top .left{float: left; font-size: 13px; color: #555;}
#section .login_wrap .top .right{float: right; font-size: 13px; color: #555;}
#section .login_wrap .login_btn{
    background-color: #00d344;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 10px;
}

#section .hot_issue {
    width: 702px;
    float: left;
}

#section .hot_issue h4 {
    margin-top: 10px;
    border-bottom: 1px solid #777;
    padding: 5px 0;
} 

#section .hot_issue h4 span {
    font-size: 11px;
    color: #999;
}

#section .hot_issue ul {
    overflow: hidden;
    
}

#section .hot_issue ul li {
    float: left;
    margin: 16px 0 0 16px;
}

.m0 {
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

#section .hot_issue .margin0{
    margin-left: 0;
}

.hot_issue .inner a>span {
    margin-top: 5px;
}

.hot_issue .inner .title {
    display: block;
    font-size: 15px;
    color: #000;
}

.hot_issue .inner .cont {
    display: block;
    font-size: 10px;
    color: #777;
}

.hot_issue .inner .hit {
    display: block;
    font-size: 10px;
    color: green;
}

.hot_issue .inner .hit span{
    color: #777;
}

#section .main_banner {
    margin: 0 auto;
    margin-top: 20px;
    width: 1008px;
}



